@model List<StockTransferProductViewModel>

<style type="text/css">
    .Collection {
        border-left: 10px solid;
    }

    .del-col div.watermark {
        -webkit-transform: none;
        -moz-transform: none;
        color: rgba(230, 230, 230, 0.5);
        font-size: 10em;
        z-index: -100;
        position: absolute;
        top: -25px;
        left: 250px;
        visibility: visible;
    }
</style>
<span style="white-space:nowrap">
    <table class="main">
        <tbody>
        @{foreach (var product in Model)
        {
            <tr class="item noborder" style="border-top: 1px solid black;">
                <td class="larger" style="white-space: normal; padding-left: 50px">
                    <div>@product.Sku @Html.Barcode(product.Sku, BarcodeLib.TYPE.CODE128, 150, 30, false, BarcodeLib.AlignmentPositions.CENTER, false)</div>
                </td>
            </tr>

            <tr class="item noborder">
                <td class="larger" style="white-space: normal; padding-left: 50px">
                    @product.Description
                </td>
            </tr>
            
            <tr class="item noborder">
                <td class="larger" style="white-space: normal; padding-left: 50px">
                    <div class="qty">@product.ReferenceNumber</div>
                </td>
            </tr>
            <tr class="item noborder">
                <td class="larger" style="white-space: normal; padding-left: 50px">
                    &nbsp;
                </td>
            </tr>
            <tr class="item noborder">
                <td class="larger" style="white-space: normal; padding-left: 50px">
                    @ViewBag.TransferMessage - @product.Comments
                </td>
            </tr>
        }}
        </tbody>
    </table>
</span>
