@using Blue.Cosacs.Sales.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/sales/views/templates/print/styles.css" rel="stylesheet" />
    <title></title>
    <style>
        .account-number {
            text-align: center;
            height: 0.5cm;
            width: 9.6cm;
            position: absolute;
            top: 12.8cm;
            letter-spacing: 0.55cm;
        }

        /* Values in the five boxes on the right */
        .right-box {
            width: 3cm;
            position: absolute;
            height: 0.5cm;
            left: 17.1cm;
        }

        .address {
            left: 3cm;
            width: 10cm;
            position: absolute;
            height: 0.5cm;
        }

        .pageBreak {
            page-break-after: always;
        }
    </style>

</head>
<body>
    <div class="col-lg-12">
        <div id="printSection">
            @{
                var idx = 0;
                var length = @Model != null ? @Model.Length : 0;
            }
            @foreach (DocumentCopy<WarrantyContractDetailsResult> contractDetails in @Model)
            {
                <div style="position:relative">
                    <div class="smaller" style="LEFT: 15.25cm; WIDTH: 4cm; POSITION: absolute; TOP: 0.5cm; HEIGHT: 0.5cm">
                        @contractDetails.CopyText
                    </div>	
                    <div style="LEFT: 17cm; WIDTH: 2cm; POSITION: absolute; TOP: 1.8cm; HEIGHT: 0.5cm;">
                        @contractDetails.Document.ContractNo
                    </div>

                    <!-- Right boxes -->
                    <div class="right-box" style="TOP: 6.85cm;">
                        @contractDetails.Document.EmployeeNo
                    </div>
                    <div class="right-box" style="TOP: 8.2cm;">
                        @contractDetails.Document.BranchName
                    </div>
                    <div class="right-box" style="TOP: 9.6cm;">
                        @contractDetails.Document.BranchNo
                    </div>
                    <div class="right-box" style="TOP: 11.2cm;">
                        @DateTime.Today.ToShortDateString()
                    </div>
                    <div class="right-box" style="TOP: 12.7cm;">
                        @contractDetails.Document.EmployeeName
                    </div>
                    
                    <!-- Account number, now as one div, not 12 -->
                    <div class="account-number" style="left:2.6cm;">
                        @contractDetails.Document.AccountNo
                    </div>

                    <!-- Customer details -->
                    <div style="LEFT: 4cm; WIDTH: 5cm; POSITION: absolute; TOP: 7.25cm; HEIGHT: 0.5cm">
                        <b>@contractDetails.Document.CustomerFirstName</b>
                    </div>
                    <div style="LEFT: 8.5cm; WIDTH: 5cm; POSITION: absolute; TOP: 7.25cm; HEIGHT: 0.5cm">
                        <b>@contractDetails.Document.CustomerLastName</b>
                    </div>

                    <!-- Customer address -->
                    <div class="address" style="TOP: 8.25cm;">
                        @contractDetails.Document.CustomerAddressLine1
                    </div>
                    <div class="address" style="TOP: 8.75cm;">
                        @contractDetails.Document.CustomerAddressLine2
                    </div>
                    <div class="address" style="TOP: 9.25cm;">
                        @contractDetails.Document.CustomerAddressLine3
                    </div>
                    <div class="address" style="TOP: 9.75cm;">
                        @contractDetails.Document.CustomerPostCode
                    </div>

                    <!-- Phone numbers -->
                    <div style="LEFT: 3cm; WIDTH: 5cm; POSITION: absolute; TOP: 11.2cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.CustomerMobilePhone
                    </div>
                    <div style="LEFT: 7.5cm; WIDTH: 5cm; POSITION: absolute; TOP: 11.2cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.CustomerHomePhone
                    </div>

                    <!-- Purchase details -->
                    <div style="LEFT: 1cm; WIDTH: 5cm; POSITION: absolute; TOP: 15.70cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.AgreementDate
                    </div>
                    <div style="LEFT: 8.5cm; WIDTH: 5cm; POSITION: absolute; TOP: 15.70cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.ItemNo
                    </div>
                    <div style="LEFT: 1cm; WIDTH: 16cm; POSITION: absolute; TOP: 16.9cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.ItemDescription
                    </div>
                    <div style="LEFT: 1cm; WIDTH: 16cm; POSITION: absolute; TOP: 17.4cm; HEIGHT: 0.5cm">
                        
                    </div>
                    <div style="LEFT: 4cm; WIDTH: 16cm; POSITION: absolute; TOP: 18.4cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.ItemPrice
                    </div>

                    <!-- Warranty -->
                    <div style="LEFT: 1cm; WIDTH: 5cm; POSITION: absolute; TOP: 19.6cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.WarrantyNo
                    </div>
                    <div style="LEFT: 8.5cm; WIDTH: 5cm; POSITION: absolute; TOP: 19.6cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.WarrantyPrice
                    </div>
                    <div style="LEFT: 1cm; WIDTH: 16cm; POSITION: absolute; TOP: 20.8cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.WarrantyDescription
                    </div>
                    <div style="LEFT: 1cm; WIDTH: 16cm; POSITION: absolute; TOP: 21.3cm; HEIGHT: 0.5cm">
                        
                    </div>
                    <div style="LEFT: 1cm; WIDTH: 5cm; POSITION: absolute; TOP: 23cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.AgreementDate
                    </div>
                    <div style="LEFT: 11cm; WIDTH: 10cm; POSITION: absolute; TOP: 23cm; HEIGHT: 0.5cm">
                        @contractDetails.Document.WarrantyLength months following the manufacturer's warranty.
                    </div>
                </div>
                {
                    idx += 1;
                    if (idx >= length)
                    {
                        continue;
                    }
                }

                <div class="pageBreak">
                </div>
            }


        </div>
    </div>
</body>
</html>
