@model IList<Blue.Cosacs.Warehouse.DeliveryView>
    @{
        ViewBag.Title = "Schedule #" + ViewBag.id;
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    @using System.Linq;
    @section Head
{
        <style type="text/css">
            .reject {
                white-space: nowrap;
            }

                .reject span {
                    margin-left: 5px;
                }

            .rejection {
                page-break-inside: avoid;
            }

            .block {
                display: block;
            }

            .item td {
                border-bottom: 1px solid black;
                padding: 3px 2px;
                vertical-align: top;
            }

            .watermark {
                color: rgba(230, 230, 230, 0.3);
                z-index: -100;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                position: absolute;
                top: 400px;
                left: 100px;
                visibility: visible;
            }

            th.number, td.number {
                text-align: right;
            }

            img {
                vertical-align: middle;
            }

            .collection-attributes th {
                text-align: left;
                padding: 3px 2px;
                width: 200px;
            }

            .collection-attributes td {
                text-align: left;
                padding: 3px 2px;
            }

            .larger {
                font-size: 2.0em;
            }
        </style>
    }
    @{ var now = DateTime.Now; }

    @{
        var DeliveryCount = 0;
        var CollectionCount = 0;

        for (var i = 0; i < Model.Count; i++)
        {
            if (Model[i].DeliveryOrCollection == "D")
            {
                DeliveryCount = DeliveryCount + 1;
            }
            else if (Model[i].DeliveryOrCollection == "C")
            {
                CollectionCount = CollectionCount + 1;
            }
        }

    }

    <div data-module="warehouse/schedulePrinting">
        <header>
            <div style="width:100%;display:inline-block;margin:0px 0px 20px 0px;">
                <div style="display:inline-block;vertical-align:top;">
                    @if (@ViewBag.listFirst.StoreType == "C")
                    {
                        @Html.FileToImage(new Blue.Config.Settings().PrintoutLogoCourts, 267, 89)
                    }
                    else
                    {
                        @Html.FileToImage(new Blue.Config.Settings().PrintoutLogoNonCourts, 267, 89)
                    }
                </div>
                <div style="display:inline-block;vertical-align:top;margin-left:120px;">
                    <table class="header-info">
                        <tr><th>Scheduling Branch:</th><td class="branchNo">@ViewBag.listFirst.DeliveryBranch</td></tr>
                        <tr><th>Number of Deliveries:</th><td>@DeliveryCount</td></tr>
                        <tr><th>Number of Collections:</th><td>@CollectionCount</td></tr>
                        <tr><th>Driver Name:</th><td>@ViewBag.Driver.Name</td></tr>
                        <tr><th>Vehicle:</th><td>@ViewBag.Vehicle</td></tr>
                    </table>
                </div>
                <div style="display:inline-block;vertical-align:top;float:right;">
                    <div class="document-id">
                        <div>
                            <div class="ref">Delivery Schedule #@ViewBag.id</div>
                            <div class="barcode">@Html.Barcode((string)("DL$" + ViewBag.id), BarcodeLib.TYPE.CODE128, 150, 30, false, BarcodeLib.AlignmentPositions.CENTER)</div>
                        </div>
                        <div>
                            <div class="createdOn">@ViewBag.load.CreatedOn.ToLocalTime().ToString("f")</div>
                            <div class="createdBy">@ViewBag.loadCreatedByLogin - @ViewBag.loadCreatedByName</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </header>
        @{
            var pagesize = 3;
        }

        @for (var x = 0; x < Model.Count; x += pagesize)
        {
            <div style="position: relative">
                @if (!(bool)ViewBag.IsCopy)
                {
                    @*<!-- HACK FIX: layout fix for the 'Delivery Print Schedules' original copy -->*@
                    @*<!-- This layout is broken when printing the original copy (only works when the copy-watermark  -->*@
                    @*<!-- style is present). So this is why an opacity:0 (invisible) watermark element was placed here. -->*@
                    <div class="copy-watermark" style="opacity:0;">ORIG.</div> @*<!-- HACK -->*@
                    @*<!-- HACK!!! -->*@
                }
                @if ((bool)ViewBag.IsCopy)
                {
                    <div class="copy-watermark">COPY</div>
                }
            </div>
            @Html.Partial("Printing/SchedulePage", Model.Skip(x).Take(pagesize).ToList());
            <div class="leftFooter">
                @string.Format("Delivery Schedule #{0} ", ViewBag.id) &nbsp;
            </div>
            <div class="rightFooter">
                Page @((x / pagesize) + 1) of @(Math.Ceiling((decimal)Model.Count / (decimal)pagesize))
            </div>

            if (x + pagesize < Model.Count)
            {
                <div class="pageBreak"></div>
            }
        }

        @for (var i = 0; i < Model.Count; i++)
        {
            var booking = Model[i];

            if (booking.DeliveryOrCollection == "C")
            {
                <div class="pageBreak"></div>

                Html.RenderPartial("Printing/CollectionNote", booking);
                <div class="leftFooter">
                    &nbsp;
                </div>
            }
        }
    </div>
